<a href="https://colab.research.google.com/github/MishraShardendu22/Movie-Vibe-Name-Search/blob/main/Movies_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd

df = pd.read_csv('movies_metadata.csv')
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df.columns

colNeeded= [
    'genres',
    'original_title',
    'overview','tagline'
]

df_rec = df[colNeeded]
df_rec.head()

,genres,original_title,overview,tagline
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...

In [6]:
# df_rec['genres'][0]

# df_rec.drop_duplicates()
df_rec = df_rec.fillna("")

df_rec.isnull().sum()

genres            0
original_title    0
overview          0
tagline           0
dtype: int64

In [7]:
import ast

df_rec["genres"] = df_rec["genres"].apply(
    lambda x: " ".join(
        d["name"] for d in ast.literal_eval("".join(x))
    )
)

df_rec.head()

,genres,original_title,overview,tagline
0,Animation Comedy Family,Toy Story,"Led by Woody, Andy's toys live happily in his ...",
1,Adventure Fantasy Family,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,Romance Comedy,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,Comedy Drama Romance,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,Comedy,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...

In [8]:
df_rec["keywords"] = (
    df_rec["genres"] + " " +
    df_rec["original_title"] + " " +
    df_rec["overview"] + " " +
    df_rec["tagline"]
)

df_rec_dl = df_rec.copy()

df_rec = df_rec[["keywords", "original_title"]]
df_rec.rename(columns={"original_title": "title"}, inplace=True)

df_rec.head()

,keywords,title
0,Animation Comedy Family Toy Story Led by Woody...,Toy Story
1,Adventure Fantasy Family Jumanji When siblings...,Jumanji
2,Romance Comedy Grumpier Old Men A family weddi...,Grumpier Old Men
3,Comedy Drama Romance Waiting to Exhale Cheated...,Waiting to Exhale
4,Comedy Father of the Bride Part II Just when G...,Father of the Bride Part II