<a href="https://colab.research.google.com/github/MishraShardendu22/Movie-Vibe-Name-Search/blob/main/Recommendation_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd

df = pd.read_csv('movies_metadata.csv')
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
df.columns

colNeeded= [
    'genres',
    'original_title',
    'overview','tagline'
]

df_rec = df[colNeeded]
df_rec.head()

,genres,original_title,overview,tagline
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...

In [ ]:
# df_rec['genres'][0]

# df_rec.drop_duplicates()
df_rec = df_rec.fillna("")

df_rec.isnull().sum()

genres            0
original_title    0
overview          0
tagline           0
dtype: int64

In [ ]:
import ast

df_rec["genres"] = df_rec["genres"].apply(
    lambda x: " ".join(
        d["name"] for d in ast.literal_eval("".join(x))
    )
)

df_rec.head()

,genres,original_title,overview,tagline
0,Animation Comedy Family,Toy Story,"Led by Woody, Andy's toys live happily in his ...",
1,Adventure Fantasy Family,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,Romance Comedy,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,Comedy Drama Romance,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,Comedy,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...

In [ ]:
df_rec["keywords"] = (
    df_rec["genres"] + " " +
    df_rec["original_title"] + " " +
    df_rec["overview"] + " " +
    df_rec["tagline"]
)

df_rec_dl = df_rec.copy()

df_rec = df_rec[["keywords", "original_title"]]
df_rec.rename(columns={"original_title": "title"}, inplace=True)

df_rec.head()

,keywords,title
0,Animation Comedy Family Toy Story Led by Woody...,Toy Story
1,Adventure Fantasy Family Jumanji When siblings...,Jumanji
2,Romance Comedy Grumpier Old Men A family weddi...,Grumpier Old Men
3,Comedy Drama Romance Waiting to Exhale Cheated...,Waiting to Exhale
4,Comedy Father of the Bride Part II Just when G...,Father of the Bride Part II

# ML - NLP Method:

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download("stopwords")
nltk.download("wordnet")

stop_words = set(stopwords.words("english"))
roman = {"i","ii","iii","iv","v","vi","vii","viii","ix","x"}
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
def sentenceCleansing(sen):
    sen = str(sen).lower()
    sen = re.sub(r'[^a-z\s]', '', sen)
    words = sen.split()
    words = [w for w in words if w not in stop_words and w not in roman]
    words = [lemmatizer.lemmatize(w) for w in words]
    return " ".join(words)

df_rec["keywords"] = df_rec["keywords"].apply(sentenceCleansing)
df_rec.head()

,keywords,title
0,animation comedy family toy story led woody an...,Toy Story
1,adventure fantasy family jumanji sibling judy ...,Jumanji
2,romance comedy grumpier old men family wedding...,Grumpier Old Men
3,comedy drama romance waiting exhale cheated mi...,Waiting to Exhale
4,comedy father bride part george bank recovered...,Father of the Bride Part II

In [ ]:
# TF-IDF = Term Frequency – Inverse Document Frequency
# Term Frequency (TF): how often a word appears in a document.
# Inverse Document Frequency (IDF): how rare that word is across all documents.

from sklearn.feature_extraction.text import TfidfVectorizer

indices = pd.Series(df_rec.index, index=df_rec["title"]).drop_duplicates()
indices

tfidf = TfidfVectorizer(
    max_features=5000000,
    ngram_range=(1,2),
    stop_words="english"
)

tfidf_matrix = tfidf.fit_transform(df_rec["keywords"])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import difflib

def recommend(title, n=10):
    if title not in indices:
        matches = difflib.get_close_matches(title, indices.index, n=1, cutoff=0.6)
        if not matches:
            return ["Movie not found"]
        title = matches[0]

    idx = indices[title]
    sim = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
    sim_idx = sim.argsort()[::-1][1:n+1]
    return df_rec["title"].iloc[sim_idx]

In [ ]:
recommend("Avatar", 5)

26559                                 Avatar 2
44149    Avatar: Creating the World of Pandora
28645                        STAND BY ME ドラえもん
18002                      La guerra dei robot
16068                            Bloodbrothers
Name: title, dtype: object

In [ ]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("all-mpnet-base-v2")

embeddings = model.encode(
    df_rec["keywords"].tolist(),
    show_progress_bar=True
)

Batches:   0%|          | 0/1421 [00:00<?, ?it/s]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend_dl(query, n=10):
    q_emb = model.encode([query])
    sim = cosine_similarity(q_emb, embeddings).flatten()
    sim_idx = sim.argsort()[::-1][:n]
    return df_rec["title"].iloc[sim_idx]

In [ ]:
recommend_dl("humans invade alien world for resources sci fi movie about exploitation of nature", 15)

25979                               V
36510            AE: Apocalypse Earth
41144           Alien 2 - Sulla terra
29945                    Alien Origin
35503                 Childhood's End
44253                            遊星王子
1342                    Mars Attacks!
41456                  Fugitive Alien
44457               They Are Among Us
20351                 地球攻撃命令 ゴジラ対ガイガン
35170           Evil Alien Conquerors
25067      Alien Nation: Dark Horizon
4819                  Invasion U.S.A.
30556    Independence Day: Resurgence
3406                         Predator
Name: title, dtype: object